# Archivo de Ejemplo de Variables de Entorno
# Copia este archivo, renómbralo a ".env" y llena los valores reales.

# Puerto del servidor
PORT=3000

# Conexión a Base de Datos PostgreSQL (DigitalOcean mediante Túnel SSH local)
DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@127.0.0.1:5432/dasha_db?schema=public"

# Integración con Cloudinary (Imágenes)
CLOUDINARY_CLOUD_NAME="aqui_va_el_cloud_name"
CLOUDINARY_API_KEY="aqui_va_el_api_key"
CLOUDINARY_API_SECRET="aqui_va_el_api_secret"

# Autenticación y Seguridad (JWT)
JWT_SECRET="dasha_super_secret_key_2026_fepro"
